
* {
    box-sizing: border-box;
    font-size: 0px;
    margin: 0px;
    padding: 0;
}

/* big screen*/
@media only screen and (min-width: 768px) {
#box1 {
    display: inline-block;
    width: 100%;
    border: 5px solid white;
    background-color:#F5C6D6;
    height: 150px;
   
}

#box2 {
    display: inline-block;
    width: 25%;
    border: 5px solid white;
    background-color:#EE2E84;
    height: 150px;
   

}

#box3 {
    display: inline-block;
    width: 25%;
    border: 5px solid white;
    background-color:#EE2E84;
    height: 150px;
   

}
#box4 {
    display: inline-block;
    width: 25%;
    border: 5px solid white;
    background-color:#EE2E84;
    height: 150px;
    

}
#box5 {
    display: inline-block;
    width: 25%;
    border: 5px solid white;
    background-color:#EE2E84;
    height: 150px;
  

}
#box6 {
    display: inline-block;
    width: 50%;
    border: 5px solid white;
    background-color:#85CFD8;
    height: 150px;
    

}
#box7 {
    display: inline-block;
    width: 50%;
    border: 5px solid white;
    background-color:#85CFD8;
    height: 150px;
    

}
#box8 {
    display: inline-block;
    width: 75%;
    border: 5px solid white;
    background-color:#8DC63F;
    height: 150px;
    

}
#box9 {
    display: inline-block;
    width: 25%;
    border: 5px solid white;
    background-color:#E76E34;
    height: 150px;
   

}
}
/* small screen*/
@media only screen and (max-width: 768px){
 
    #box1 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#F5C6D6;
        height: 50px;
        
    }
    
    #box2 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#EE2E84;
        height: 50px;
       
    
    }
    
    #box3 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#EE2E84;
        height: 50px;
        
    
    }
    #box4 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#EE2E84;
        height: 50px;
        
    
    }
    #box5 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#EE2E84;
        height: 50px;
        
    
    }
    #box6 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#85CFD8;
        height: 50px;
        
    
    }
    #box7 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#85CFD8;
        height: 50px;
       
    
    }
    #box8 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#8DC63F;
        height: 50px;
       
    
    }
    #box9 {
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        background-color:#E76E34;
        height: 50px;
       
    
    }
}